h1{
    background-color: brown;
}
span{
    background-color: cornflowerblue;
}
div{
    background-color: coral;
    width: 200px;
    height: 100px;
    
    
}
img{
    width: 500px;
}
h1:hover{
    background-color: darkgreen;
}
li{
    color: crimson;
}
li:first-child{
    color: darkolivegreen;
}
ul:hover{
    background-color: darkslategrey;
}
img{
    width: 200px;

}
input{

}
